doctype html
html
  block html
  head
    meta(charset='utf-8')
    -
      let title = 'Sunderland Rowing Club',
          desc = 'We are a small competitive club, located in Sunderland. Whether you want to race competitively, or just have some fun, we can help you get started.',
          image = `https://${self.domain}/assets/icon.png`,
          themeColor = '#38b6ff',
          css = '/style.css'
    block head
    title= title
    meta(name='og:type', content='website')
    meta(name='og:title', content=title)
    meta(name='og:description', content=desc)
    meta(name='og:image', content=image)
    meta(name='theme-color', content=themeColor)
    meta(name='viewport', content='width=device-width')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Noto+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap', rel='stylesheet')
    link(rel='icon' type='image/png' sizes='32x32' href='/assets/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/assets/favicon-16x16.png')
    link(rel='stylesheet', type='text/css', href=css)
    script(type='module', src='/menu.js')
  body
    #nav-bar
      a#home-button.nav-button(href='/')
        #nav-logo: include /../includes/icons/logo_no_text.svg
        div
          div Sunderland
          div Rowing Club
      .filler
      //- a.nav-button.wide-screen(href='/about') About
      .nav-drop-down.wide-screen Join Us
        include /../includes/icons/chevron-down.svg
        .nav-drop-down-list
          a.nav-drop-down-option(href='/members/learn') Learn to row
          a.nav-drop-down-option(href='/members/juniors') Juniors
          a.nav-drop-down-option(href='/members/adults') Adults
          //- a.nav-drop-down-option(href='/members/recreational') Recreational
          //- a.nav-drop-down-option(href='/members/students') Students
      a.nav-button.wide-screen(href='/events') Events
      a.nav-button.wide-screen(href='/sponsors') Sponsors
      //- a.nav-button.wide-screen(href='/merch') Merch
      a.nav-button.wide-screen(href='/contact') Contact
      #nav-bar-hamburger-button
        .menu-icon: include /../includes/icons/menu.svg
        .close-icon: include /../includes/icons/close.svg
    #nav-list(style='display:none;')
      //- a.nav-list-button(href='/about') About
      .nav-list-section(data-title='Join Us')
        a.nav-list-button(href='/members/learn') Learn to row
        a.nav-list-button(href='/members/juniors') Juniors
        a.nav-list-button(href='/members/adults') Adults
        //- a.nav-list-button(href='/members/recreational') Recreational
        //- a.nav-list-button(href='/members/students') Students
      a.nav-list-button(href='/events') Events
      a.nav-list-button(href='/sponsors') Sponsors
      //- a.nav-list-button(href='/merch') Merch
      a.nav-list-button(href='/contact') Contact
    #content
      block content
    #footer
      #footer-website
        a#footer-britishrowing(href='https://www.britishrowing.org/'): img(src='/assets/british_rowing.webp')
        div Sunderland Rowing Club
        sub Website by Even Aasgaard Torset &amp; Martin Murphy
      #footer-contact
        a.row(href='mailto:contact@sunderlandrowing.co.uk')
          .footer-icon: include /../includes/icons/email.svg
          | contact@sunderlandrowing.co.uk
        a.row(href='tel:07546363662')
          .footer-icon: include /../includes/icons/phone.svg
          | 07546 363662
        a.row.location-row(href='https://goo.gl/maps/uGbUXG5Tvhcs3YoD9')
          .footer-icon: include /../includes/icons/map-marker.svg
          span
            div Sunderland Rowing Club
            div Riverside Park, South Hylton
            div SR4 0RT
      #footer-social
        a.footer-social-link(title='Youtube', href='https://www.youtube.com/@sunderlandrowingclub'): include /../includes/icons/youtube.svg
        a.footer-social-link(title='Twitter', href='https://twitter.com/Sunderland_RC'): include /../includes/icons/twitter.svg
        a.footer-social-link(title='Instagram', href='https://www.instagram.com/sunderland_rowing_club/'): include /../includes/icons/instagram.svg
        a.footer-social-link(title='Facebook', href='https://www.facebook.com/sunderlandrowingclub'): include /../includes/icons/facebook.svg
