doctype html
html(lang='en')
  block html
  head
    meta(charset='utf-8')
    -
      let title = 'Sunderland Rowing Club',
          desc = 'This website is about a small rowing club, located in Sunderland known as Sunderland Rowing Club.',
          image = `https://${self.domain}/assets/icon.png`,
          themeColor = '#0A71B9',
          css = '/style.css'
    
    block head
    meta(name='algolia-site-verification', content='9533553439263A82')
    meta(name='og:type', content='website')
    meta(name='og:title', content=title)
    meta(name='og:description', content=desc)
    meta(name='og:image', content=image)
    meta(name='theme-color', content=themeColor)
    meta(name='viewport', content='width=device-width')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Noto+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap', rel='stylesheet')
    link(rel='icon' type='image/png' sizes='32x32' href='/assets/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/assets/favicon-16x16.png')
    link(rel='stylesheet', type='text/css', href=css)
    script(type='module', src='/menu.js')
  
  body
    #nav-bar
      a#home-button.nav-button(href='/')
        #nav-logo: include /../includes/icons/logo_no_text.svg
        div
          div Sunderland
          div Rowing Club
      
      .filler
      //- a.nav-button.wide-screen(href='/about') About
      .nav-drop-down.wide-screen Members
        include /../includes/icons/chevron-down.svg
        .nav-drop-down-list
          a.nav-drop-down-option(href='/members/learn') Learn-to-row
          a.nav-drop-down-option(href='/members/juniors') Juniors
          a.nav-drop-down-option(href='/members/adults') Adults
          a.nav-drop-down-option(href='/members/flexi') Flexi-members
          //- a.nav-drop-down-option(href='/members/recreational') Recreational
      
      a.nav-button.wide-screen(href='/weather') Weather &amp; Conditions
      a.nav-button.wide-screen(href='/events') Events
      a.nav-button.wide-screen(href='/support') Support Us
      //- a.nav-button.wide-screen(href='/merch') Merch
      a.nav-button.wide-screen(href='/contact') Contact
      #nav-bar-hamburger-button
        .menu-icon: include /../includes/icons/menu.svg
        .close-icon: include /../includes/icons/close.svg
    
    #nav-list(style='display:none;')
      //- a.nav-list-button(href='/about') About
      .nav-list-section(data-title='Members')
        a.nav-list-button(href='/members/learn') Learn-to-row
        a.nav-list-button(href='/members/juniors') Juniors
        a.nav-list-button(href='/members/adults') Adults
        a.nav-list-button(href='/members/flexi') Flexi-members
        //- a.nav-list-button(href='/members/recreational') Recreational
      
      a.nav-list-button(href='/weather') Weather &amp; Conditions
      a.nav-list-button(href='/events') Events
      a.nav-list-button(href='/support') Support Us
      //- a.nav-list-button(href='/merch') Merch
      a.nav-list-button(href='/contact') Contact
    
    #content
      block content
      <script async src="https://cse.google.com/cse.js?cx=73ab19a3827f0487e">
      </script>
      <div class="gcse-search"></div>
            
    #footer
      #footer-website
        a#footer-britishrowing(href='https://www.britishrowing.org/'): img(src='/assets/british_rowing.webp' alt='British Rowing Logo' width='70' height='52')
        div Sunderland Rowing Club
        sub Website by Even Aasgaard Torset &amp; Martin Murphy
      
      #footer-contact
        a.row(href='mailto:sunderlandrowingclub1889@gmail.com')
          #footer-email
            .footer-details
              .footer-icon: include /../includes/icons/email.svg
              | sunderlandrowingclub1889@gmail.com
        
        a.row(href='tel:07546363662')
          #footer-tel
            .footer-details
              .footer-icon: include /../includes/icons/phone.svg
              | 07546 363662
        
        a.row.location-row(href='https://goo.gl/maps/uGbUXG5Tvhcs3YoD9')
          #footer-address
            .footer-details
              .footer-icon: include /../includes/icons/map-marker.svg
              ul
                li Sunderland Rowing Club
                li Riverside Park, South Hylton
                li SR4 0RT
      
      #footer-social
        a.footer-social-link(title='Youtube', href='https://www.youtube.com/@sunderlandrowingclub'): include /../includes/icons/youtube.svg
        a.footer-social-link(title='Instagram', href='https://www.instagram.com/sunderland_rowing_club/'): include /../includes/icons/instagram.svg
        a.footer-social-link(title='Facebook', href='https://www.facebook.com/sunderlandrowingclub'): include /../includes/icons/facebook.svg

