doctype html
html
  block html
  head
    meta(charset='utf-8')
    -
      let title = 'Sunderland Rowing Club',
          desc = 'Example description. This should be a very short, but descriptive text about the page.',
          image = `https://${self.domain}/assets/icon.png`,
          themeColor = '#38b6ff',
          css = '/style.css'
    block head
    title= title
    meta(name='og:type', content='website')
    meta(name='og:title', content=title)
    meta(name='og:description', content=desc)
    meta(name='og:image', content=image)
    meta(name='theme-color', content=themeColor)
    meta(name='viewport', content='width=device-width')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Noto+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap', rel='stylesheet')
    link(rel='icon' type='image/png' sizes='32x32' href='/assets/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/assets/favicon-16x16.png')
    link(rel='stylesheet', type='text/css', href=css)
    script(type='module', src='/menu.js')
  body
    #nav-bar
      a#home-button.nav-button(href='/')
        #nav-logo: include /../includes/icons/logo_no_text.svg
        div
          div Sunderland
          div Rowing Club
    #content
      block content
    #footer
      #footer-website
        div Sunderland Rowing Club
        sub Website by Even Aasgaard Torset
      #footer-contact
        .row
          .footer-icon: include /../includes/icons/at.svg
          | club@example.com
        .row
          .footer-icon: include /../includes/icons/phone.svg
          | 07546 363662
        .row.location-row
          .footer-icon: include /../includes/icons/map-marker.svg
          span
            div Sunderland Rowing Club
            div Riverside Park, South Hylton
            div SR4 0RT
      #footer-social
        a.footer-social-link(title='Twitter', href='https://twitter.com/Sunderland_RC'): include /../includes/icons/twitter.svg
        a.footer-social-link(title='Instagram', href='https://www.instagram.com/sunderland_rowing_club/'): include /../includes/icons/instagram.svg
        a.footer-social-link(title='Facebook', href='https://www.facebook.com/sunderlandrowingclub'): include /../includes/icons/facebook.svg
